@use "/src/assets/styles/scss/abstracts" as *;

.page-about {
    font-family: "Open Sans", sans-serif;
    background: linear-gradient(#F5F6F8, #E6E8EC);
    
    &-container {
        @extend %page-container;
        
        padding: 10rem 6rem 12rem;
    }

    h1,
    h2 {
        color: var(--clr-black);
        padding-block: 2rem;
        text-transform: uppercase;
    }
    h1 {
        padding-top: 0;
    }

    p {
        text-align: justify;
    }
    
}