%page-container {
    max-width: 580px;
    margin: auto;
    
    @media (min-width: 768px) {
        max-width: 72rem;
    }
    @media (min-width: 1024px) {
        max-width: 98rem;
    }
    @media (min-width: 1240px) {
        max-width: 120rem;
    }
    @media (min-width: 1440px) {
        max-width: 144rem;
    }
}

%btn-theme {
    display: block;
    width: fit-content;
    border-radius: 1rem;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: var(--font-weight-semibold);
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: var(--clr-white);
    background-color: var(--clr-theme1);
    cursor: pointer;
    padding: 1.6rem;
    
    @media (min-width: 339px) {
        font-size: 1.6rem;
    }
    // @media (min-width: 1024px) {
    //     font-size: 1.8rem;
    // }
}