@use "/src/assets/styles/scss/abstracts" as *;

.page-catalog {
    font-family: "Open Sans", sans-serif;
    background: linear-gradient(#F5F6F8, #E6E8EC);
    
    .catalog-container {
        @extend %page-container;
        
        padding: 2rem 2rem 6rem                ;

        @media (min-width: 768px) {
            padding: 6rem 4rem;
        }
        @media (min-width: 1024px) {
            padding: 12rem 6rem;
        }
    }

    .products-dashboard {

        @media (min-width: 1024px) {
            display: flex;
            gap: 6rem;
        }
    }
    
    .heading {
        font-size: 2.4rem;
        text-transform: uppercase;
        color: var(--clr-black);
        margin-bottom: 4rem;
        
        @media (min-width: 1024px) {
            font-size: 2.8rem;
        }
    }

    .product-menu {
        max-width: 54rem;
        width: 100%;
        margin-bottom: 6rem;
        
        
        @media (min-width: 1024px) {
            max-width: 24.4rem;
        }

        h2 {
            font-size: 2rem;
            letter-spacing: .25rem;
            text-transform: uppercase;
            color: var(--clr-black);
            border-bottom: solid 1px #D9D9D9;
            padding-bottom: 1.5rem;
            margin-bottom: 2rem;
            
            @media (min-width: 1024px) {
                font-size: 2.4rem;
                padding-top: 11.3rem;
                margin-bottom: 3rem;
            }
        }

        li {
            display: flex;
            justify-content: space-between;
            font-weight: 600;
            text-transform: capitalize;
            margin-bottom: 2rem;
            // padding-right: 6rem;
        }

        label {
            display: flex;
            gap: 1rem;
        }
    }

    .product-grid {
        flex: auto;

        > div {
            display: flex;
            gap: 3rem;
            flex-wrap: wrap;
        }

        a {
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        }
    }
}