

.page-home {
    font-family: "Open Sans", sans-serif;
    background: linear-gradient(#F5F6F8, #E6E8EC);
    opacity: 0;
    animation: fadeIn .4s ease-in .3s forwards;

    .landing-spot {
        background-image: url('/public/image1.jpeg');
    }

    .why-choose-us {
        background-color: transparent;
    }

    .about-us {
        background-color: var(--clr-white); 
    }

    .contact-information {
        background-color: transparent;
    }
}