@use "/src/assets/styles/scss/abstracts" as *;

.product-detail {
    font-family: "Open Sans", sans-serif;
    background-color: var(--clr-white);
    

    &-container {
        @extend %page-container; 

        padding: 2rem 2rem 6rem                ;

        @media (min-width: 1024px) {
            padding: 12rem 6rem;
        }
    }
    &__main-content {
        
        @media (min-width: 768px) {
            display: flex;
            gap: 6rem;
            border-radius: 2rem;
        }
    }

    &__images-section {
        flex-basis: 45%;
        margin-bottom: 6rem;

        .product-detail__main-image {
            width: 100%;
            aspect-ratio: 1/1;
            border-radius: 2rem;
            overflow: hidden;
            margin-bottom: 3rem;
        }

        .product-detail__thumbnail-gallery {
            display: flex;
            gap: 3rem;
            overflow: hidden;
            border: solid;
        }
        .product-detail__thumbnail-item {
            height: 13rem;
            aspect-ratio: 1/1;
            border-radius: 2rem;
            overflow: hidden;
        }
    }

    &__info-section {
        flex-basis: 55%;
        line-height: 1.8;

        .product-detail__title {
            font-size: 2rem;
            line-height: 1.4;
            color: var(--clr-black);
            margin-bottom: 3rem;
            
            @media (min-width: 1024px) {
                font-size: 3.2rem;
                margin-bottom: 6rem;
            }
        }

        .product-detail__description:not(:last-of-type) {
            text-align: justify;
            margin-bottom: 1.5rem;
        }

        .product-detail__features-list {
            margin-top: 3rem;
            margin-left: 3rem;
            list-style: disc outside none;
        }

        .product-detail__price {
            --d: 1.5rem;
            
            @media (min-width: 1024px) {
                --d: 6rem;
            }
            border-top: solid 1px #CDD3D9;
            margin-top: var(--d);
            padding-top: var(--d);

            span { 
                display: block;
                width: fit-content;
                font-size: 1.8rem;
                color: var(--clr-theme1);
                font-weight: 700;
                margin-left: auto;
                
                @media (min-width: 1024px) {
                    font-size: 2rem;
                }
            }
        }
    }
}

.product-detail ~ .footer {
    background: linear-gradient(#F5F6F8, #E6E8EC);
}