.product-card {
    background-color: var(--clr-white);
    width: 100%;
    border-radius: 1rem;
    padding: 1.5rem;
    font-size: 1.4rem;
    max-width: 54rem;
    height: fit-content;
    
    @media (min-width: 768px) {
        max-width: 30.5rem;
    }
    @media (min-width: 768px) {
        max-width: 30.5rem;
    }
    @media (min-width: 1024px) {
        max-width: 23.8rem;
    }
    @media (min-width: 1440px) {
        max-width: 23.1rem;
    }

    &-image {
        aspect-ratio: 1/1;
        border: solid 1px #EEF0F4;
        border-radius: 1rem;
        margin-bottom: 3rem;
        overflow: hidden;

        img {
            height: 100%;
            width: auto;
        }
    }

    &-brand {
        font-size: 2rem;
        font-weight: 900;
        text-transform: uppercase;
        color: var(--clr-black);
    }

    &-title {
        
        color: var(--clr-black);
    }

    &-info {
        display: flex;
        justify-content: space-between;
        margin-top: 5rem;
    }
    &-price {
        font-size: 2rem;
        font-weight: 900;
        color: var(--clr-theme1);
    }
}