@use "/src/assets/styles/scss/abstracts" as *;

.header {
    background-color: var(--clr-white);

    &-container {
        @extend %page-container;

        padding: 3rem 6rem;
    }

    &-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-logo {
        height: 9rem;

        a {
            display: flex;
            align-items: center;
            gap: 3rem;
        }
    }

    &-menu {
        display: flex;
        align-items: center;
        gap: 3rem;
        font-family: "Open Sans", sans-serif;
        font-size: 1.6rem;
        font-weight: 700;
        color: var(--clr-black);

        >a[href="/contact"] {
            @extend %btn-theme;
        }

        >a:not(a[href="/contact"]) {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: -.25rem;
                width: 0;
                height: 3px;
                background-color: var(--clr-theme1);
                transition: width 0.3s ease;

            }

            &:hover::before {
                width: 100%;
            }
        }

        .lang-menu {
            position: relative;
            display: flex;
            flex-direction: column;
            font-size: 1.4rem;
            font-weight: 700;
            font-family: "Open Sans", sans-serif;
            text-transform: uppercase;
            transition: all 0.3s ease;

            &:hover ul {
                background-color: #fff;
                max-height: 20rem;
                // display: block;
            }
        }

        .selected-lang {
            text-decoration: underline;
            text-decoration-thickness: 0.2rem;
            text-underline-offset: 0.4rem;
            background-color: #EFEFEF;
            padding: 1.8rem 2rem;
            border-radius: .5rem;
            cursor: pointer;
        }

        ul {
            position: absolute;
            top: 5.6rem;
            left: 0;
            border: solid 1px #f8f8f8;
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
            border-radius: .5rem;
            overflow: hidden;
            max-height: 0;
            transition: max-height 0.3s ease-out;
            // display: none;
        }

        li {
            padding: 1.8rem 2rem;
        }

        li:hover {
            background-color: #f8f8f8;
        }
    }
}