.site-header {
    display: flex;
    align-items: center;
    padding-block: 2rem;
}

.logo-container {
    height: 9rem;

    a {
        display: flex;
        align-items: center;
        gap: 3rem;
    }
}

.navigation-container {
    flex: auto;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--clr-black);

    .main-content {
        display: flex;
        gap: 5.2rem;
        justify-content: flex-end;
    }
    .language-btn {
        text-decoration: underline;
        text-decoration-thickness: 0.2rem;
        text-underline-offset: 0.5rem;
        padding: 0 0.8rem;
        border-radius: 0.5rem;
        transition: all 0.3s ease-in-out 0.3ms;
        font-family: "Open Sans", sans-serif;
        font-size: 1.8rem;
        font-weight: 700;
    }

    .language-btn:hover {
        background-color: var(--clr-theme1);
        text-decoration: none;
        color: var(--clr-white);
    }
}

.hamburger-btn {
    display: flex;
    gap: 0.35rem;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
    background-color: #efefef;
    border-radius: 0.5rem;
    height: 3rem;
    width: 3rem;
    margin-left: 5.2rem;

    .bar {
        background-color: black;
        height: 0.2rem;
        width: 100%;
        border-radius: 1rem;
        transition: width 0.3s ease-in-out;
    }
}

.hamburger-btn:hover {
    .bar1 {
        width: 40%;
    }
    .bar3 {
        width: 80%;
    }
}
