@use "/src/assets/styles/scss/abstracts" as *;

.about-us {
    &-container {
        @extend %page-container;
        
        padding: 6rem 2rem;
        
        @media (min-width: 1024px) {
            text-align: center;
            padding: 12rem 15rem;
        }
    }

    &-title {
        text-transform: uppercase;
        color: var(--clr-black);
        margin-bottom: var(--spacing-lg);
        padding-inline: 2rem;
    }

    &-description {
        line-height: 2;
        margin-bottom: var(--spacing-xl);
        padding-inline: 2rem;
    }

    &-link {
        @extend %btn-primary;

        font-size: 1.8rem;
        margin: auto;
    }
}