@use "/src/assets/styles/scss/abstracts" as *;

.about-us {
    &-container {
        @extend %page-container;
        
        padding: 6rem 2rem;
        
        @media (min-width: 768px) {
            padding: 9rem 4rem;
            text-align: center;
        }
        @media (min-width: 1024px) {
            padding: 12rem 6rem;
        }
    }

    &-title {
        text-transform: uppercase;
        text-align: center;
        color: var(--clr-black);
        margin-bottom: var(--spacing-lg);
        font-size: 2rem;

        @media (min-width: 768px) {
            font-size: 2.4rem;
        }
        @media (min-width: 1024px) {
            font-size: 2.8rem;
        }
    }

    &-description {
        line-height: 2;
        margin-bottom: var(--spacing-xl);
    }

    &-link {
        @extend %btn-theme;

        // font-size: 1.8rem;
        margin: auto;
    }
}