@use "/src/assets/styles/scss/abstracts" as *;

.landing-spot {

    &-container {
        @extend %page-container;

        padding: 6rem 2rem;
        
        @media (min-width: 768px) {
            padding: 9rem 4rem;
        }
        @media (min-width: 1024px) {
            padding: 24rem 6rem 12rem;
        }
    }

    &-title {
        font-size: 2.4rem;
        color: var(--clr-black);
        line-height: 1.8;
        font-weight: 700;
        margin-bottom: 6rem;
        text-align: center;
        opacity: 0;
        transform: translateY(3rem);

        &.fade-in {
            animation: fadeIn 1s ease .5s forwards;
        }
        
        @media (min-width: 768px) {
            font-size: 2.8rem;
        }
        @media (min-width: 1024px) {
            font-size: 3.2rem;
        }
    }

    .company-name {
        font-weight: var(--font-weight-extra);
    }

    &-link {
        @extend %btn-theme;
        
        margin: auto;
        opacity: 0;
        transform: translateY(3rem);

        &.fade-in {
            animation: fadeIn 1s ease .9s forwards;
        }
    }
}
