@use "/src/assets/styles/scss/abstracts" as *;

.page-legal {
    font-family: "Open Sans", sans-serif;
    background: linear-gradient(#F5F6F8, #E6E8EC);

    .container {
        @extend %page-container;

        padding: 2rem 2rem 6rem                ;

        @media (min-width: 768px) {
            padding: 6rem 4rem;
        }
        @media (min-width: 1024px) {
            padding: 12rem 6rem;
        }
    }

    h1, h2 {
        text-transform: uppercase;
        color: var(--clr-black);
    }
    h1 {
        font-size: 2.4rem;
        margin-bottom: 2rem;

        @media (min-width: 1024px) {
            font-size: 2.8rem;
        }
    }
    h2 {
        font-size: 2rem;
        padding: 2rem 0;

        @media (min-width: 1024px) {
            font-size: 2.4rem;
        }
    }
    p {
        text-align: justify;

        &:not(:first-of-type) {
            margin-top: 1.5rem;
        }
    }
}